.button_container {
  max-width: 20rem;
  padding: 0 1rem;
  margin: 3rem 0rem;
}

.button {
  width: 4.5rem;
  margin: 0.25rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 1rem;
  font-size: 1rem;
  background-color: #eef2f1;
}

.appleB {
  font-family: "AppleB";
  color: black;
  font-size: 20px;
}
.appleM {
  font-family: "AppleM";
  color: black;
  font-size: 20px;
}
.appleR {
  font-family: "AppleR";
  color: black;
  font-size: 20px;
}
.appleER {
  font-family: "AppleER";
  color: black;
  font-size: 20px;
}
@font-face {
  font-family: "AppleB";
  src: url("../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "AppleM";
  src: url("../fonts/AppleSDGothicNeoEB.ttf");
}

@font-face {
  font-family: "AppleR";
  src: url("../fonts/AppleSDGothicNeoM.ttf");
}

@font-face {
  font-family: "AppleER";
  src: url("../fonts/AppleSDGothicNeoR.ttf");
}
