*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: #eefafc;
  width: 100%;
  height: 100vh;
  color: white;
  transition: 0.4s ease-in-out;
}

#__next-prerender-indicator {
  display: none;
}

canvas {
  background-color: #eef2f1;
  border-radius: 5rem;
}

div.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  width: 480px;
  margin: 0 auto;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
}

.titleText {
  font-size: 2rem;
  margin: 1rem;
}
